<div class="header">
  <div class="h3-heading">Wallets</div>

  <div class="header-actions">
    <tui-select [(ngModel)]="selectedCurrency" tuiTextfieldSize="m" class="crypto-select">
      Cryptocurrency
      <tui-data-list-wrapper
        *tuiDataList
        size="s"
        [itemContent]="content"
        [items]="cryptocurrencies()"
      />

      <ng-template #content let-data>
        <div>{{ data?.name }}</div>
      </ng-template>
    </tui-select>

    <button class="button primary m" (click)="createWallet()">
      <tui-icon icon="@tui.arrow-up"></tui-icon>
      Create wallet
    </button>
  </div>
</div>

<table tuiTable [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh>Address</th>
      <th tuiTh>Balance</th>
      <th tuiTh>Status</th>
      <th tuiTh></th>
    </tr>
  </thead>

  <tbody tuiTbody [data]="wallets()">
    @for (wallet of wallets(); track wallet.id) {
    <tr tuiTr>
      <td *tuiCell="'trxAddress'" tuiTd class="text-m w600">
        {{ wallet.trxAddress }}
        <tui-icon icon="@tui.clipboard-copy" (click)="copy(wallet.trxAddress)" class="copy-icon"></tui-icon>
      </td>

      <td *tuiCell="'availableOprBalance'" tuiTd class="text-m w600">
        {{ wallet.availableOprBalance }} {{ getCryptoIcon(wallet.cryptocurrency) | async }}
      </td>

      <td *tuiCell="'walletStatus'" tuiTd>
        <app-wallet-status-chip [status]="wallet.walletStatus"></app-wallet-status-chip>
      </td>

      <td *tuiCell="'actions'" tuiTd>
        <app-wallet-item-option 
          [wallet]="wallet"
          (block)="onBlock(wallet)"
          (unblock)="onUnblock(wallet)"
          (deactivate)="onDeactivate(wallet)"
        />
      </td>
    </tr>
    }
  </tbody>
</table>
<p-paginator
  class="paginator"
  [totalRecords]="totalElements()"
  [rows]="3"
  (onPageChange)="onPageChange($event)"
  [showFirstLastIcon]="false"
  [showPageLinks]="true"
>
  <ng-template #previouspagelinkicon>
    <span class="paginator-button">
      <tui-icon icon="@tui.chevron-left"></tui-icon>
      Back
    </span>
  </ng-template>

  <ng-template #nextpagelinkicon>
    <span class="paginator-button">
      Next
      <tui-icon icon="@tui.chevron-right"></tui-icon>
    </span>
  </ng-template>
</p-paginator>
