<div class="header">
  <div class="h3-heading">Wallets</div>

  <div class="header-actions">
    <tui-select [(ngModel)]="selectedCurrency">
      Cryptocurrency
      <tui-data-list-wrapper
        *tuiDataList
        size="m"
        [itemContent]="content"
        [items]="cryptocurrencies()"
      />

      <ng-template #content let-data>
        <div>{{ data?.name }}</div>
      </ng-template>
    </tui-select>

    <button class="button primary m" (click)="createWallet()">
      <tui-icon icon="@tui.arrow-up"></tui-icon>
      Create wallet
    </button>
  </div>
</div>

<table tuiTable [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh>Address</th>
      <th tuiTh>Balance</th>
      <th tuiTh>Status</th>
      <th tuiTh></th>
    </tr>
  </thead>

  <tbody tuiTbody [data]="wallets()">
    @for (wallet of wallets(); track wallet.id) {
    <tr tuiTr>
      <td *tuiCell="'trxAddress'" tuiTd>
        {{ wallet.trxAddress }}
        <tui-icon icon="@tui.copy" (click)="copy(wallet.trxAddress)"></tui-icon>
      </td>

      <td *tuiCell="'availableOprBalance'" tuiTd>
        {{ wallet.availableOprBalance }} {{ getCryptoIcon(wallet.cryptocurrency) | async }}
      </td>

      <td *tuiCell="'walletStatus'" tuiTd>
        <app-wallet-status-chip [status]="wallet.walletStatus"></app-wallet-status-chip>
      </td>

      <td *tuiCell="'actions'" tuiTd>
        @if(wallet.walletStatus !== 'DEACTIVATED') {
          <button
            appearance="secondary-destructive"
            iconStart="@tui.more"
            size="m"
            tuiIconButton
            type="button"
            [style.border-radius.%]="100"
            [tuiAppearanceState]="open ? 'active' : null"
            [tuiDropdown]="dropdown"
            [tuiDropdownSided]="true"
            [(tuiDropdownOpen)]="open"
          >
            More
          </button>
        }
        <ng-template #dropdown let-close>
          <tui-data-list>
            @if (wallet.walletStatus === 'ACTIVE') {
              <button
                tuiOption
                type="button"
                (click)="blockWallet(wallet)"
              >
                <tui-icon icon="@tui.lock"></tui-icon>
                Block wallet
              </button>
            } @else if (wallet.walletStatus === 'CUSTOMER_BLOCKED') {
              <button
                tuiOption
                type="button"
                (click)="unblockWallet(wallet)"
              >
                <tui-icon icon="@tui.unlock"></tui-icon>
                Unblock wallet
              </button>
            }
  
            <button
                tuiOption
                type="button"
                (click)="deactivateWallet(wallet)"
              >
                <tui-icon icon="@tui.deactivate"></tui-icon>
                Deactivate wallet
              </button>
          </tui-data-list>
        </ng-template>
      </td>
    </tr>
    }
  </tbody>
</table>
