<footer class="footer">
  <div class="footer-container">
    <!-- Left Section: Logo & Contact Info -->
    <div class="footer-left">
      <div class="logo">
        <img src="assets/icons/logo.svg" alt="Coinforge Logo">
        
      </div>
      <p>Address: Poland, 76-200 Słupsk, Bukowa 1A m. 7</p>
      <p>Email: <a href="mailto:info@coinforge.online">infocoinforge.online</a></p>
    </div>

    <!-- Center Section: Navigation Links -->
    <div class="footer-center">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Privacy and Policy</a></li>
      </ul>
    </div>

    <!-- Right Section: Social Media Icons -->
    <div class="footer-right">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="footer-bottom">
    <hr>
    <p>Coinforge.online 2025 All Rights Reserved.</p>
  </div>
</footer>

<!-- Font Awesome for Social Media Icons -->
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>

