.market-info {
  width: 360px;
  height: 416px;

  display: flex;
  flex-direction: column;
}

.market-info .title {
  margin-bottom: 28px;
  margin-top: 0;
}

.siz {
  width: 260px;
  height: 1px;
  background-color: #F7F7FB;
  align-self: flex-end;

  margin-top: 12px;
  margin-bottom: 16px;
}
