<div class="header">
  <div class="header__logo">
    @if (configService.isMobile()) {
      <div class="mobile-menu-toggle u-mar-right-8">
        @if (!isMobileMenuOpened()) {
          <tui-icon icon="@tui.menu" (click)="mobileMenuToggle()"></tui-icon>
        } @else {
          <tui-icon icon="@tui.x" (click)="mobileMenuToggle()"></tui-icon>
        }
      </div>
    }
    <img
      src="/assets/icons/logo.svg"
      alt="Coinforge Logo"
      class="logo-img"
    />
  </div>
  @if (!configService.isMobile()) {
    <nav class="header__nav">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
        <img src="/assets/icons/Dashboard.svg" alt="Dashboard" class="nav-icon" />
        Dashboard
      </a>
      <a routerLink="/wallets" routerLinkActive="active" class="nav-link">
        <img src="/assets/icons/Wallet.svg" alt="Wallets" class="nav-icon" />
        Wallets</a
      >
      <a class="nav-link" routerLink="/transactions" routerLinkActive="active">
        <img
          src="/assets/icons/Transactions.svg"
          alt="Transactions"
          class="nav-icon"
        />
        Transactions</a
      >
    </nav>
  }
  <div class="header__profile">
    <div class="profile-icon">MS</div>
  </div>
</div>

@if (isMobileMenuOpened()) {
  <div class="mobile-menu-backdrop" (click)="isMobileMenuOpened.set(false)">
    <div class="mobile-menu-wrapper">
      <nav class="mobile-nav">
        <a routerLink="/dashboard" routerLinkActive="active" class="mobile-nav-link h6-heading">
          <img src="/assets/icons/Dashboard.svg" alt="Dashboard" class="mobile-nav-icon" />
          Dashboard
        </a>
        <a routerLink="/wallets" routerLinkActive="active" class="mobile-nav-link h6-heading">
          <img src="/assets/icons/Wallet.svg" alt="Wallets" class="mobile-nav-icon" />
          Wallets</a
        >
        <a class="mobile-nav-link h6-heading" routerLink="/transactions" routerLinkActive="active">
          <img
            src="/assets/icons/Transactions.svg"
            alt="Transactions"
            class="mobile-nav-icon"
          />
          Transactions</a
        >
      </nav>
    </div>
  </div>
}