<div class="header">
  <div class="header__logo">
    <img
      src="/assets/icons/logo_dark.svg"
      alt="Coinforge Logo"
      class="logo-img"
    />
  </div>
  <nav class="header__nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
      <img src="/assets/icons/Dashboard.svg" alt="Dashboard" class="nav-icon" />
      Dashboard
    </a>
    <a routerLink="/wallets" routerLinkActive="active" class="nav-link">
      <img src="/assets/icons/Wallet.svg" alt="Wallets" class="nav-icon" />
      Wallets</a
    >
    <a class="nav-link" routerLink="/transactions" routerLinkActive="active">
      <img
        src="/assets/icons/Transactions.svg"
        alt="Transactions"
        class="nav-icon"
      />
      Transactions</a
    >
  </nav>
  <div class="header__profile">
    <div class="profile-icon">MS</div>
  </div>
</div>
