.select-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 520px;
}

.item {
  cursor: pointer;
  height: 52px;
  padding: 10px 12px;
  width: 440px;

  display: flex;
  gap: 8px;
  align-items: center;

  border-radius: var(--Spacing-Radios-Radios-xs, 10px);
  background: var(--System-color-bg, #F9F9F9);
}

.item.active {
  border: 1px solid var(--Primary500, #1C1C1C);
  background: #EDEDED;
}

.select-list .active-mark {
  width: 24px;
  height: 24px;
}