<div class="u-row-middle u-space-between">
  <div class="h4-heading">Filter</div>

  <app-modal-close-button (clicked)="closeModal()"></app-modal-close-button>
</div>

<ng-container [formGroup]="formGroup">
  <div class="u-row-middle u-g-24 u-mar-bottom-24">
    <tui-input-date formControlName="dateFrom"></tui-input-date>

    <tui-input-date formControlName="dateTo"></tui-input-date>
  </div>

  <tui-combo-box
    formControlName="cryptocurrency"
    tuiTextfieldSize="m"
    class="crypto-select u-mar-bottom-24"
    [tuiTextfieldLabelOutside]="true"
    [valueContent]="content"
    [tuiTextfieldCleaner]="true"
    [stringify]="stringifyCryptoSelectItem"
  >
    Cryptocurrency
    <input placeholder="Type a crypto" tuiTextfieldLegacy />
    <tui-data-list-wrapper
      *tuiDataList
      size="m"
      [itemContent]="content"
      [items]="cryptocurrencies() | tuiFilterByInput : currencyMatcher"
    />

    <ng-template #content let-data>
      <div class="u-row-middle u-g-8">
        <img [src]="getCryptoIcon(data?.cryptoCurrency) | async" width="24" />
        <div class="text-m w400">{{ data?.cryptoCurrencyName }}</div>
      </div>
    </ng-template>
  </tui-combo-box>

  <tui-select
        tuiTextfieldSize="m"
        formControlName="statuses"
    >
        Status
        <input
            placeholder="Status"
            tuiTextfieldLegacy
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="statuses"
        />
    </tui-select>
    <tui-select
        tuiTextfieldSize="m"
        formControlName="types"
    >
        Type
        <input
            placeholder="Type"
            tuiTextfieldLegacy
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="types"
        />
    </tui-select>
</ng-container>
