<div class="total-balance">
  <div class="h5-heading title">Total Balance</div>

  <div class="block">
    <img src="assets/icons/euro.svg">
    <p class="balance h3-heading">5,709.00 EUR</p>
    <div class="actions">
      <button class="button primary s">
        <tui-icon
          icon="@tui.arrow-down"
        ></tui-icon>
          Top-up
      </button>
      <button class="button primary s">
        <tui-icon
          icon="@tui.arrow-up"
        ></tui-icon>
        Withdraw
      </button>
    </div>
  </div>
</div>

