:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.left-side {
  display: flex;
  gap: 12px;
  align-items: center;
}

.info-wrapper .time {
  color: #B6B6B6;
}

.info-wrapper .status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 32px;
}

.info-wrapper .status.REJECTED {
  border: 1px solid #FDDCDA;
  background: var(--System-color-light-red, #FFF0F0);
}

.info-wrapper .status.CONFIRMED {
  border: 1px solid #CFFCC7;
  background: var(--System-color-light-red, #E9FFF4);
}

.info-wrapper .status.REFUNDED {
 border: 1px solid rgba(65, 102, 230, 0.12);
  background: rgba(65, 102, 230, 0.12);
}