<form class="sign-up-form" [formGroup]="formGroup" (submit)="onSubmit()">
  <h2>Sign up</h2>
  <div class="form-group">
    <label tuiLabel>
      First name *
      <tui-input
        formControlName="firstName"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfieldLegacy />

      </tui-input>
      <tui-error
        formControlName="firstName"
        [error]="[] | tuiFieldError | async"
      >
      </tui-error>
    </label>

    <label tuiLabel>
      Last name *
      <tui-input
        formControlName="lastName"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfieldLegacy />

      </tui-input>
      <tui-error
        formControlName="lastName"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
  </div>
  <label tuiLabel>
    Gender *
    <tui-select
      formControlName="gender"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      [valueContent]="genderValueContent"
    >
      <input tuiTextfieldLegacy />
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="genderValueContent"
        [items]="genders"
      />
      <ng-template #genderValueContent let-gender>
        {{ genderLabels[toGender(gender)] }}
      </ng-template>
    </tui-select>
  </label>

  <label tuiLabel>
    Phone number *
    <tui-input-phone-international
      tuiTextfieldSize="m"
      formControlName="phoneNumber"
      [countries]="(phoneCountries | tuiSortCountries | async) || []"
      countryIsoCode="GB"
      [tuiTextfieldLabelOutside]="true"
    >
    </tui-input-phone-international>
  </label>

  <label tuiLabel>
    Email *
    <tui-input
      formControlName="email"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfieldLegacy />
    </tui-input>

    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <label tuiLabel>
    Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="password" tuiInputPassword />
    </tui-textfield>
  </label>
  <ul class="password-criteria">
    <li>
      <tui-icon
        [icon]="passwordCriteriaIcons().length"
        [style.color]="
          passwordCriteriaPassed().length ? 'var(--tui-status-positive)' : ''
        "
      ></tui-icon>
      <span>At least 6 characters</span>
    </li>
    <li>
      <tui-icon
        [icon]="passwordCriteriaIcons().uppercase"
        [style.color]="
          passwordCriteriaPassed().uppercase ? 'var(--tui-status-positive)' : ''
        "
      ></tui-icon>
      <span>One uppercase</span>
    </li>
    <li>
      <tui-icon
        [icon]="passwordCriteriaIcons().lowercase"
        [style.color]="
          passwordCriteriaPassed().lowercase ? 'var(--tui-status-positive)' : ''
        "
      ></tui-icon>
      <span>One lowercase</span>
    </li>
    <li>
      <tui-icon
        [icon]="passwordCriteriaIcons().number"
        [style.color]="
          passwordCriteriaPassed().number ? 'var(--tui-status-positive)' : ''
        "
      ></tui-icon>
      <span>One number</span>
    </li>
    <li>
      <tui-icon
        [icon]="passwordCriteriaIcons().char"
        [style.color]="
          passwordCriteriaPassed().char ? 'var(--tui-status-positive)' : ''
        "
      ></tui-icon>
      <span>One special case character (!#$ etc.)</span>
    </li>
  </ul>

  <label tuiLabel>
    Repeat password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="repeatPassword" tuiInputPassword />
    </tui-textfield>
    <tui-error
      formControlName="repeatPassword"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <label tuiLabel>
    Country *
    <tui-combo-box
      formControlName="country"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <ng-container *tuiDataList>
        <!--48 = 44 height + 4 margin-->
        <!--8 = data list padding-->
        <cdk-virtual-scroll-viewport
          *tuiLet="countries | tuiFilterByInput as items"
          tuiScrollable
          class="scroll"
          [itemSize]="48"
          [style.height.px]="items.length * 48 + 8"
          (indexChange)="list.handleFocusLossIfNecessary()"
        >
          <tui-data-list #list>
            <button *cdkVirtualFor="let item of items" tuiOption [value]="item">
              {{ item }}
            </button>
          </tui-data-list>
        </cdk-virtual-scroll-viewport>
      </ng-container>
    </tui-combo-box>
  </label>
  <label tuiLabel>
    City *
    <tui-input
      formControlName="city"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfieldLegacy />
    </tui-input>

    <tui-error
      formControlName="city"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label tuiLabel>
    Postal code *
    <tui-input
      formControlName="zipCode"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfieldLegacy />
    </tui-input>

    <tui-error
      formControlName="zipCode"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>
  <label tuiLabel>
    Address
    <tui-textarea
      formControlName="address"
      [expandable]="true"
      [tuiTextfieldLabelOutside]="true"
      tuiTextfieldSize="m"
    >
    </tui-textarea>
  </label>
  <button class="sign-up-btn button primary m" type="submit">Sign up</button>
  <p>Already have an account? <a router-link="/sign-in/login" routerLinkActive="router-link-active" >Sign in</a></p>
</form>
