<ng-container [formGroup]="formGroup">
  <div class="h4-heading">Set new password</div>

  <div class="subtitle text-sm w400">
    Enter verification code we sent to the email address
    <span class="text-sm w600">{{ email }}</span
    >.
  </div>

  <app-otp-code-input
    [(otpCode)]="otpCode"
    [length]="codeLength"
    [error]="!!errorMessage()"
    [disabled]="loading()"
  ></app-otp-code-input>

  @if (errorMessage()) {
    <div class="error-message">
      {{ errorMessage() }}
    </div>
  }

  <label tuiLabel class="mb-24">
    Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="password" tuiInputPassword />
    </tui-textfield>
  </label>

  <label tuiLabel class="mb-24">
    Repeat Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="repeatPassword" tuiInputPassword />
    </tui-textfield>
  </label>

  <app-password-criteria
    class="mb-48"
    [password]="formGroup.get('repeatPassword')?.getRawValue()"
  ></app-password-criteria>

  <button
    class="confirm-button button primary m mt-32"
    [class.secondary]="formGroup.invalid"
    [disabled]="isSaveDisabled()"
    (click)="save()"
  >
    Set password
  </button>
</ng-container>
