<section class="about">
  <div class="about-container">
    <h2>Welcome to <span>COINFORGE</span></h2>
    <p class="subtitle">Innovating the Future of Cryptocurrency</p>
    <p class="description">
      At Coinforge, we are dedicated to advancing the world of cryptocurrency
      through cutting-edge technology and innovative solutions. As a leader in
      the blockchain industry, we provide a comprehensive suite of services
      designed to empower individuals and businesses to navigate and thrive in
      the digital economy.
    </p>
  </div>

  <section class="mission">
    <div class="mission-container">
      <div class="mission-text">
        <h2>Our mission</h2>
        <p>
          Our mission at Coinforge is to
          <strong>demystify cryptocurrency</strong> and
          <strong>make it accessible</strong> to everyone. We strive to create a
          <strong>secure, transparent, and user-friendly</strong> platform where
          users can confidently engage in cryptocurrency transactions and
          investments.
        </p>
      </div>
      <div class="mission-image">
        <img src="assets/images/mission.png" alt="Crypto Box" />
      </div>
    </div>
  </section>
</section>
