<div class="title-wrapper">
  <div class="h5-heading">OTP code</div>

  <button class="close-btn" (click)="closeModal()">
    <tui-icon
      [icon]="'@tui.x'"
      [style.width.px]="'20'"
      [style.height.px]="'20'"
    ></tui-icon>
  </button>
</div>

<div class="subtitle text-sm w400">
  Enter OTP code displayed on your authentication app.
</div>

<app-otp-code-input
  [length]="6"
  [(otpCode)]="otpCode"
  [error]="!!errorMessage()"
></app-otp-code-input>

@if(errorMessage()) {
<div class="error-message">{{ errorMessage() }}</div>
}

<div class="hint text-sm w400">
  I want to recover Google Authentication code.
</div>

<button class="recover-btn" (click)="recover()">Recover code</button>
