

.custom-modal-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.custom-modal {
  display: flex;
  width: 456px;
  height: 392px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Neutral0, #fff);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.custom-modal-content h2 {
  color: var(--Primary-text-color, #272828);

  /* Switzer/H5 */
  font-family: Switzer;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.custom-modal-content p {
  color: var(--Secondary-text-color, #6f6f6f);

  /* text-sm-400 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; 
  margin-top: 15px;
  margin-bottom: 32px;/* 150% */
}





.recover-link {
  display: block;
  text-align: center;
  margin-top: 88px;
  color: var(--Secondary-text-color, #6F6F6F);

/* text-sm-400 */
font-family: "Nunito Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
text-decoration: none;/* 150% */
}

.recover-btn{
  display: flex;
  text-align: center;
 
  color: var(--Primary500, #1C1C1C);
text-align: center;
font-family: Switzer;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.16px;
}

