<div class="custom-modal-overlay">
  <div class="custom-modal">
      <button class="close-btn" (click)="onClose()">&times;</button>
      <div class="custom-modal-content">
          <h2>OTP code</h2>
          <p>Enter OTP code displayed on your authentication app.</p>
          <div class="otp-inputs">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
          </div>
          <a href="#" class="recover-link">I want to recover Google Authentication code.</a>
      </div>
  </div>
</div>