.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 578px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dialog-header h3 {
  color: var(--Primary-text-color, #272828);
  font-family: Switzer;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

p {
  color: var(--Secondary-text-color, #6f6f6f);

  /* text-sm-400 */
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.code-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--Spacing-Spacing-Spacing-xs, 8px);
}

.code-input input {
  width: 49px;
  height: 48px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  border-radius: var(--Spacing-Radios-Radios-xs, 10px);
  border: 1px solid var(--System-color-light-purple, #eceaef);
  background: var(--Neutral100, #f7f7fb);
}

.confirm-button {
  display: flex;
  padding: var(--Spacing-Spacing-Spacing-sm, 12px) 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: var(--Spacing-Radios-Radios-xs, 10px);
  border: 1px solid var(--Neutral200, #e0dfdf);
  background: linear-gradient(
      180deg,
      rgba(26, 26, 26, 0.06) 0%,
      rgba(26, 26, 26, 0) 100%
    ),
    var(--Neutral0, #fff);
  box-shadow: 0px 1px 0px 1px rgba(255, 255, 255, 0.8) inset,
    0px 6px 4px -4px rgba(255, 255, 255, 0.8) inset,
    0px -2px 2px 0px rgba(18, 18, 18, 0.24) inset;
}

.timer {
  margin-top: 16px;
  font-size: 12px;
  color: #888;
}

.timer span {
  font-weight: bold;
}
