:host {
  padding: 32px;
  border-radius: 8px;
  display: block;
  width: 504px;
}

.confirm-button {
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}