<mat-dialog-content [formGroup]="formGroup">
  <div class="title-wrapper mb-32">
    <div class="h4-heading">Password setup</div>

    <button class="close-btn" (click)="closeModal()">
      <tui-icon
        [icon]="'@tui.x'"
        [style.width.px]="'20'"
        [style.height.px]="'20'"
      ></tui-icon>
    </button>
  </div>

  <label tuiLabel>
    Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="password" tuiInputPassword />
    </tui-textfield>
  </label>

  <app-password-criteria 
    class="mb-24"
    [password]="formGroup.get('password')?.getRawValue()"
  ></app-password-criteria>

  <label tuiLabel>
    Repeat Password *
    <tui-textfield tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input formControlName="repeatPassword" tuiInputPassword />
    </tui-textfield>
  </label>

  <button 
    class="confirm-button button primary m mt-32"
    [class.secondary]="formGroup.invalid"
    [disabled]="formGroup.invalid"
    (click)="save()"
  >
    Save the change
  </button>
</mat-dialog-content>
