h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  
}


.form-group label {
  display: flex;
  padding: var(--Spacing-Spacing-Spacing-sm, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-Spacing-Spacing-xxs, 4px);
  align-self: stretch;
  width: 456px;
}

.form-group input {
  width: 456px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="password"] {
  font-family: 'FontAwesome';
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.sign-in-btn {
  width: 456px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: #333;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
}

.form-footer a {
  color: #000;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.terms {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  color: #888;
}

.terms a {
  color: #888;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}
