:root {
  --Primary-text-color: #272828;
  --Secondary-text-color: #6f6f6f;
}

.h1-heading {
  color: var(--Primary-text-color, #272828);
  /* Switzer/H1 */
  font-family: Switzer;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}
// .h2-heading{
//   color: var(--Primary-text-color, #272828);

//   /* Switzer/H5 */
//   font-family: Switzer;
//   font-size: 18px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: 24px; /* 133.333% */
// }

.h3-heading {
  color: var(--Neutrals---primary-text-color, #272828);
  /* Switzer/H3 */
  font-family: Switzer-Variable;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.h4-heading {
  color: var(--Neutrals---primary-text-color, #272828);
  /* Switzer/H4 */
  font-family: Switzer-Variable;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 153.846% */
}

.h5-heading {
  color: var(--Primary-text-color, #272828);
  /* Switzer/H5 */
  font-family: Switzer-Variable;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.h6-heading {
  color: var(--Primary-text-color, #272828);
  font-family: Switzer-Variable;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

@mixin text {
  color: var(--Primary-text-color, #272828);
  font-family: "Nunito Sans";
  font-style: normal;
}

.text {
  &-l {
    @include text;
    font-size: 18px;
    line-height: 24px;
  }

  &-m {
    @include text;
    font-size: 16px;
    line-height: 24px;
  }

  &-sm {
    @include text;
    font-size: 14px;
    line-height: 21px;
  }

  &-xs {
    @include text;
    font-size: 12px;
    line-height: 16px;
  }
}
.w600 {
  font-weight: 600;
}

.w400 {
  font-weight: 400;
}

.w300 {
  font-weight: 300;
}
