:host {
  width: 1128px;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  background-color: #fff;
  padding: 24px;
  padding-bottom: 16px;
  border-radius: 10px;

  --p-paginator-background: white;
  --p-paginator-color: black;
  --p-paginator-border-radius: 0;
  
  --p-paginator-nav-button-border-radius: 10px;
  --p-paginator-nav-button-background: #fff;
  --p-paginator-nav-button-color: #1c1c1c;
  --p-paginator-nav-button-hover-background: #EDEDED;
  --p-paginator-nav-button-hover-color: var(--p-paginator-nav-button-color);

  --p-paginator-nav-button-selected-background: #EDEDED;
  --p-paginator-nav-button-selected-color: var(--p-paginator-nav-button-color);
}

::ng-deep .paginator .p-paginator {
  border: 1px solid var(--tui-border-normal);
  border-top: none;
  justify-content: flex-end;
}

th[tuiTh] {
  font: var(--tui-font-h6-heading);
  color: #272828;
}

.paginator-button {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

table[tuiTable] {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #f9f9f9;
}

td {
  background-color: white;
}

td, th {
  border: none;
}

tr {
  border: 1px solid var(--tui-border-normal);
  height: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  margin-bottom: 24px;
}

.filters-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

button.active {
  background: var(--Secondary500, #FEDD2D) !important;
}

.search-input {
  width: 500px;
}

.search-input::before {
  width: 20px;
  height: 20px;
}

.address-wrapper, .hash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 138px;
}

.copy-icon {
  cursor: pointer;
  margin-left: 8px;
}

.transaction-time {
  color: #6f6f6f;
}
