.transactions {
  width: 744px;
  height: 448px;
  overflow: auto;
}

.title {
  margin-bottom: 24px;
}

.day-group-title {
  color: #6F6F6F;
  margin-bottom: 8px;
}

.line {
  width: calc(100% - 52px);
  height: 1px;
  background-color: #F7F7FB;
  margin-left: 52px;
}

.empty-wrapper {
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}

.empty-desc {
  color: #6F6F6F;
  width: 360px;
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .transactions {
    width: 100%;
  }
}